<!DOCTYPE html>
<div id="canvas" class="lander">
<h2>HomedIn</h2>

<img src="/assets/Selection_002.png" alt="some_text" width="400" height="400" id="my_pic" style="border-radius:10px; float: left;">

<img src="/assets/Selection_003.png" alt="some_text" width="400" height="400" id="my_pic" style="border-radius:10px; float: left;">
<img src="/assets/Selection_004.png" alt="some_text" width="140" height="140" id="my_pic" style="border-radius:10px; float: left;">
<img src="/assets/Selection_005.png" alt="some_text" width="140" height="140" id="my_pic" style="border-radius:10px; float: left;">
<img src="/assets/Selection_006.png" alt="some_text" width="140" height="140" id="my_pic" style="border-radius:10px; float: left;">

