<!DOCTYPE html>
<div id="canvas" class="lander">
<h2>HomedIn</h2>

  <div style="width: 100%;">
    <div style="float:left; width: 50%;">
      <h6 style="text-align: center;"> EASILY ADD A HOUSE WITH JUST THE ADDRESS </h6>
      <img src="/assets/Selection_013.png" alt="some_text" width="400" height="400" id="my_pic" style="border-radius:3px; border-color: #ffba72; border-style:solid;">
      <br>
      <br>
      <img src="/assets/Selection_002.png" alt="some_text" width="400" height="400" id="my_pic" style="border-radius:3px; border-color: #ffba72; border-style:solid;">
      <br>
      <br>
      <img src="/assets/Selection_003.png" alt="some_text" width="400" height="400" id="my_pic" style="border-radius:3px; border-color: #ffba72; border-style:solid;">
    </div>

    <div style="float:right;">
      <img src="/assets/Selection_004.png" alt="some_text" width="400" height="400" id="my_pic" style="border-radius:3px; border-color: #ffba72; border-style:solid;">
      <br>
      <br>
      <h6 style="text-align: center;"> CHECK OUT STATISTICS ABOUT YOUR SAVED HOUSES </h6>
      <img src="/assets/Selection_005.png" alt="some_text" width="400" height="400" id="my_pic" style="border-radius:3px; border-color: #ffba72; border-style:solid;">
      <br>
      <br>
      <h6 style="text-align: center;"> ADD A TEXT-MESSAGE ALERT WITH SHOWING TIME </h6>
      <img src="/assets/Selection_006.png" alt="some_text" width="450" height="450" id="my_pic" style="border-radius:3px; border-color: #ffba72; border-style:solid;">
    </div>
  </div>