<!DOCTYPE html>
<div id="canvas" class="lander">
<h2>HomedIn</h2>
  <h4 style="text-align: center;">SIGN UP TO GET STARTED</h4>

  <div style="width: 100%;">
    <div style="float:left; width: 50%;">
      <div style="text-align: center; border-radius:3px; border-color: #ffba72; border-style:solid;">
        <h6 style="padding-top: 3px;"> EASILY ADD A HOUSE TO YOUR LIST </h6>
        <h6 style="font-size: 11px;">HomedIn finds and saves all the house's information (bedrooms, bathrooms, description, etc.)</h6>
        <hr>
        <img src="/assets/Selection_013.png" alt="some_text" width="400" height="400" id="my_pic" style="">
      </div>

      <br>
      <br>

      <div style="text-align: center; border-radius:3px; border-color: #ffba72; border-style:solid;">
        <h6 style="padding-top: 3px;"> EASILY SEARCH AND SCROLL YOUR SAVED HOUSES </h6>
        <hr>
        <img src="/assets/Selection_002.png" alt="some_text" width="400" height="400" id="my_pic" style="">
      </div>
      <br>
      <br>
    </div>

    <div style="float:right;">
      <div style="text-align: center; border-radius:3px; border-color: #ffba72; border-style:solid;">
        <h6 style="padding-top: 3px;"> ADD A TEXT-MESSAGE ALERT WITH SHOWING TIME  </h6>
        <hr>
        <img src="/assets/Selection_006.png" alt="some_text" width="400" height="400" id="my_pic" style="">
      </div>
      <br>
      <br>

      <div style="text-align: center; border-radius:3px; border-color: #ffba72; border-style:solid;">
        <h6 style="padding-top: 3px;"> CHECK OUT STATISTICS ABOUT YOUR SAVED HOUSES  </h6>
        <hr>
        <img src="/assets/Selection_004.png" alt="some_text" width="400" height="400" id="my_pic" style="">
        <hr>
        <img src="/assets/Selection_005.png" alt="some_text" width="400" height="400" id="my_pic" style="">
        <hr>
        <img src="/assets/Selection_003.png" alt="some_text" width="400" height="400" id="my_pic" style="">
        <hr>

      </div>
      <br>
    </div>
  </div>