<h1 style="text-align: center; "> <strong> About Homedin </strong> </h1>
<h5 style="text-align: center; "> HomedIn is an application that allows users to easily save houses that they are interested in renting or purchasing. </h5>
<br>
<br>

<h6>This application incorporates a number of gems/apis, notably:
  <ul>
    <li>Twilio (timed textmessage notifications)</li>
    <li>Sidekiq (background jobs)</li>
    <li>Zillow (for easy housing queries)</li>
    <li>Unicorn</li>
    <li>Redis</li>
    <li> (Other gems can be viewed in the Gemfile)</li>
  </ul>
<br>
<br>
</h6>

<img src="https://avatars0.githubusercontent.com/u/6404876?s=460" alt="some_text" width="140" height="140" id="my_pic" style="border-radius:10px; float: left;">
<div style="float: left; padding-left: 20px;">
  <h6>Created by Jacob Maude</h6>
  <div style="padding-left: 20px;">
    <h6><a href="https://github.com/Modsky1" target="_blank">Github</a></h6>
   <h6><a href="https://www.linkedin.com/in/jacobmaude" target="_blank">LinkedIn</a></h6>
  </div>
</div>








